
<main>
  <div class="feed"> 
    <h2><%= @first_event.title %></h2>
    <img src="<%= @first_event.cover %>">
    <p><%= @first_event.description %></p>
    <p><%= link_to 'Conoce más', @first_event %></p>
  </div>
</main>

<section class="row">
    <% @events.each do |event| %>
      <div class="col">
        <h3><%= link_to event.title, event %></h3>
        <img src="<%= event.cover %>" />
        <p><%= event.description %></p>
        <p>Fecha: <%= event.day %></p>
        <p>Hora: <%= event.time.hour %> horas.</p>
        <p><%= link_to 'Conoce más', event %></p>
        <% if admin_signed_in? %>
        <p><%= link_to 'Editar', edit_event_path(event) %></p>
        <p><%= link_to 'Eliminar', event, method: :delete, data: { confirm: '¿Estás seguro?' } %></p>
        <% end %>
      </div>
    <% end %>  
</section>
<% if admin_signed_in? %>
<aside>

        <%= link_to 'Nuevo evento', new_event_path %>

</aside>
<% end %>
