<p id="notice"><%= notice %></p>

<h1>Asambleas y eventos</h1>

<main>
  <div class="feed"> 
    <h2><%= @first_event.title %></h2>
    <img src="<%= @first_event.cover %>">
    <p><%= @first_event.description %></p>
    <p><%= link_to 'Conoce más', @first_event %></p>
  </div>
</main>

<section class="row">
    <% @events.each do |event| %>
      <div class="col">
        <h3><%= event.title %></h3>
        <img src="<%= event.cover %>" />
        <p><%= event.description %></p>
        <p><%= event.day %></p>
        <p><%= event.time %></p>
        <%= link_to 'Conoce más', event %>
        <% if admin_signed_in? %>
        <p><%= link_to 'Edit', edit_event_path(event) %></p>
        <p><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    <% end %>  
</section>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Cover</th>
      <th>Location</th>
      <th>Day</th>
      <th>Time</th>
      <th>Typeevent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
