<div class="details">
<h1>Asambleas y Eventos</h1>

<h2><%= @event.title %></h2>

<div class="cover">
    <img src="<%= @event.cover %>"/>
</div>

<div class="description">
  <p><%= @event.description %></p>
<p>Fecha: <%= @event.day %> Hora: <%= @event.time.hour %>:<%= @event.time.min %></p>
<p>Ubicación: <%= @event.location %></p>
</div>
</div>

<aside>
<%= link_to 'Asistir', edit_event_path(@event) %> 
</aside>
<aside>
<% if admin_signed_in? %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %> 
<%= link_to 'Back', events_path %>
</aside>